*{ /*清除所有元素的默认外边距和内边距*/
margin:0;
padding:0;
}
.center{
	width:100%;
	height: 300px;
	display: flex;
	flex-direction: column;
}
.container1{
	width:100%;
	height: 100%;
	display: -webkit-box;
	flex:1;

}
.container2{
	width:100%;
	height: 100%;
	display: -webkit-box;
	flex:1;

}
.container3{
	width:100%;
	height: 100%;
	display: -webkit-box;
	flex:1;

}


.rounded1{
	background-color:#FFAC1C;
	border-radius:20px;
	-moz-box-flex:1;
	-webkit-box-flex:1;
	flex:1;
	margin: 20px;
}

.rounded2{
	background-color:#FFAC1C;
	border-radius:20px;
	-moz-box-flex:1;
	-webkit-box-flex:1;
	flex:1;
	margin: 20px;
}

.rounded3{
	background-color:#FFAC1C;
	border-radius:20px;
	-moz-box-flex:1;
	-webkit-box-flex:1;
	flex:1;
	margin: 20px;
}



