body.p,h1,h2,h3,h4,h5,h6,dl,dd{margin:0;font-size:12px;}
ol,ul{list-style:none;padding:0;margin:0;}
a{text-decoration: none;}
img{border:none;}

html{
    height:100%;
}
body{
    height: 100%;
    margin:0 auto;
    min-width: 320px;
    max-width: 768px;
}
.header_style{
    position: fixed;
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    height: 3.5rem;
    min-height: 3.5rem;
    line-height: 3.5rem;
    color: #ffffff;
    font-size: 1.8rem;
    border-bottom:0.1rem solid #74d4eb;
    background-color: #29bde0;
    margin: 0;
    text-align: center;
    z-index: 2001;
}
.top{
background-color: #29bde0;
padding-left: 2rem;
padding-right: 2rem;
}
main{
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    /* padding-left: 2rem; */
    /* padding-right: 2rem; */
}
.line-align{
    /* line-height: 2.5rem; */
}
.pic_line_home{
    height: 1.5rem;
    width: 2rem;
    margin-left: 0.5rem;
}
.pic_help_size{
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}
.line1-style{
    text-align: center;
    padding: 1.5rem;
}
.pic_victory_size{
    height: 8rem;
    width: 14rem;
}
.line2-style{
    text-align: center;
    color: #ffc865;
    font-size: 1.5rem;
}
.line3-style{
    color: #ffffff;
    font-size: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.middle{
    background-color: #ffffff;
    overflow-y: scroll;
    overflow-x: hidden;
}
.line-bar-style{
    color: #a6a6a6;
    font-size: 1.3rem;
    border-bottom: 0.2rem solid #dddddd;
    padding: 0.3rem 2rem 1rem 2rem;
}
.bar_left_style{
    font-size: 1.3rem;
    text-align: left;
    color: #000000;
}
.bar_right_style{
    font-size: 5px;
    text-align: right;
    padding-right: 3%;
}
.footer_style{
    position: fixed;
    min-width: 320px;
    max-width: 768px;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5rem;
    padding: 1rem;
    color: #ffffff;
    background-color: rgba(41,189,224,0.5);
}
.btn1_style{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    height: 3rem;
    background-color: #f66f6f;
    color: #ffffff;
}
.btn2_style{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    height: 3rem;
    background-color: #fbb435;
}